In [1]:
# print 0 to 20 by using range

In [118]:
for (num) in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# print range 10 to 20

In [117]:
for (num) in range (10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [5]:
# Print number of items in the list by using 'len'

In [6]:
lists=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in this lists is:",len(lists))

Number of item in this lists is: 7

In [7]:
# print word  by vertical ARTIFICIAL INTELLIGENCE

In [8]:
text="ARTIFICIAL INTELLIGENCE"
for char in text:
    print(char)

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [9]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples

In [49]:
tuple= (1 , 'Welcome', 2, 'Hope')
print(tuple)
print(type(tuple))

(1, 'Welcome', 2, 'Hope')
<class 'tuple'>

In [34]:
tup1=(1,2,0)
tup2=("welcome","python")
print(tup1+tup2)

(1, 2, 0, 'welcome', 'python')

In [50]:
a=(10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [53]:
tup=('python',)*3
print(tup)

('python', 'python', 'python')

In [98]:
tup=('python',)
n=5
for i in range(int(n)):
    tup1= (tup,)
    print(tup1)

(('python',),)
(('python',),)
(('python',),)
(('python',),)
(('python',),)

In [100]:
tup=([7,4,2,5])
print(tup)

[7, 4, 2, 5]

In [ ]:
#print Even numbers in the list
(20,10,16,19,25,1,276,188)

In [116]:
lists=[20,10,16,19,25,1,276,188]
for (i) in lists:
 if(i%2==1):
    print("odd number")
else:
    print("even number")

odd number
odd number
odd number
even number